.sk-svg {
    font-family: sans-serif;
  }
  
.sk-svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sk-svg text::selection {
  background: none;
}
.sk-node rect {
  fill: blue;
  fill-opacity: 0.5;
  stroke: blue;
  stroke-opacity: 1;
  cursor: move;
  shape-rendering: crispEdges;
}
.sk-node text {
  pointer-events: none;
  font-size: 13px;
}
.sk-link {
  fill: none;
  stroke: blue;
  stroke-opacity: 0.16;
  transition-property: stroke-opacity;
  transition-duration: 0.5s;
}
.sk-link:hover {
  stroke-opacity: 0.5;
}

.d3-tip h1 {
  line-height: 12px !important;
  font-weight: bold !important;
  font-size: 14px;
  padding: 0;
  margin-top: 5px !important;
  margin-bottom: 5px;
  width: 100%;
}
.d3-tip h2 {
  line-height: 12px !important;
  font-weight: bold;
  font-size: 12px;
  padding-right: inherit;
  padding-left: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px;
}
.d3-tip h3 {
  line-height: 12px !important;
  font-weight: normal;
  font-size: 8px;
  margin: 0;
  padding: 0;
}
.d3-tip table {
  font-weight: normal;
  font-size: 12px;
  padding: none;
  margin: 0;
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.d3-tip td {
  padding-top: 2px;
  padding-bottom: 2px;
}
.d3-tip .col-left {
  padding-right: 8px;
}
.d3-tip .table-wrapper {
  margin: 0;
  padding: inherit;
  border: none;
}
.d3-tip {
  line-height: 12px !important;
  font-family: sans-serif;
  font-weight: normal;
  padding: 4px;
  background: white;
  color: black;
  border-radius: 2px;
  pointer-events: none;
  background: white;
  box-shadow: 1px 1px 4px grey;
}
