body{
    padding: 0;
    margin: 0;
}
.ms-grid, .pa-main-menu{
    padding: 0;
}

.pa-panel-content-menu .ms-Panel-content{
    padding-left: 0;
    padding-right: 0;
}

.full-screen {
    height: 600px;
    width: 100%;
}
