@kpmg:registry=https://alm.lu.kworld.kpmg.com/tfs/LU-AU-INAV/_packaging/iNav/npm/registry/
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/27/2018.
; begin auth token
//alm.lu.kworld.kpmg.com/tfs/LU-AU-INAV/_packaging/iNav/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImNsV0JjTHNFSmFYWWoyVTdPT3JibmdhLVBPMCJ9.eyJuYW1laWQiOiJkNzBmOWRiZS1kMTBiLTRlZWEtODY4MS03NmU2NjdjOTZlMWYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMDNjMmMwOGUtNmQzMC00NmMxLTgyZjctMmMxZWMzNTFlYWE5Iiwic2lkIjoiNDE1NzQwNzEtOGU0OC00OGNmLWJkZTAtOGUzZTI5MmVlYTI1IiwiaXNzIjoiYWxtLmx1Lmt3b3JsZC5rcG1nLmNvbSIsImF1ZCI6ImFsbS5sdS5rd29ybGQua3BtZy5jb20iLCJuYmYiOjE1MzgxNDE5NDQsImV4cCI6MTU0NTkxNzk0NH0.b8-sOE8dLcwfWPmkBFvtSWki6r1oo4QTg9ls6Xdq4MJcBYnGsF__v2yjfeZeQIgCuBbm2547xt_QrH0LDQ2Qfk_qMqeZzEijgYmyx0wmY84sISJlosSDUSLqgsr-dmq4HC2Bk0HIDyYjvtRgdUvO1dDQoWyvFbRRISziozelmTTQwxd6Gm9icgWXXBWievPIowONW8qWG2saIjMbYfeL4bNRWnAulvOuQFSuAjrJkR4Tnb_6ZYdQXJVtcrhXitWxRlssxdcnXG257EZzKkWonCNCQhTj0z2qEio4rRDHkKuOmtzTQhkSCB7P6oOZr7y60tAuQfqzuqZ9utFVKlHdyg
//alm.lu.kworld.kpmg.com/tfs/LU-AU-INAV/_packaging/iNav/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImNsV0JjTHNFSmFYWWoyVTdPT3JibmdhLVBPMCJ9.eyJuYW1laWQiOiJkNzBmOWRiZS1kMTBiLTRlZWEtODY4MS03NmU2NjdjOTZlMWYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMDNjMmMwOGUtNmQzMC00NmMxLTgyZjctMmMxZWMzNTFlYWE5Iiwic2lkIjoiNDE1NzQwNzEtOGU0OC00OGNmLWJkZTAtOGUzZTI5MmVlYTI1IiwiaXNzIjoiYWxtLmx1Lmt3b3JsZC5rcG1nLmNvbSIsImF1ZCI6ImFsbS5sdS5rd29ybGQua3BtZy5jb20iLCJuYmYiOjE1MzgxNDE5NDQsImV4cCI6MTU0NTkxNzk0NH0.b8-sOE8dLcwfWPmkBFvtSWki6r1oo4QTg9ls6Xdq4MJcBYnGsF__v2yjfeZeQIgCuBbm2547xt_QrH0LDQ2Qfk_qMqeZzEijgYmyx0wmY84sISJlosSDUSLqgsr-dmq4HC2Bk0HIDyYjvtRgdUvO1dDQoWyvFbRRISziozelmTTQwxd6Gm9icgWXXBWievPIowONW8qWG2saIjMbYfeL4bNRWnAulvOuQFSuAjrJkR4Tnb_6ZYdQXJVtcrhXitWxRlssxdcnXG257EZzKkWonCNCQhTj0z2qEio4rRDHkKuOmtzTQhkSCB7P6oOZr7y60tAuQfqzuqZ9utFVKlHdyg
; end auth token
strict-ssl=false